.posts {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  .post {
    display: inline-block;
    margin: 10px;

    a {
      cursor: default;
      display: inline-block;
    }

    .colors {
      display: flex;
      div {
        width: 50px;
        height: 100px;
        display: inline-block;
        cursor: pointer;
      }
    }

    .color-meta {
      display: flex;
      justify-content: space-between;
      width: 250px;
      padding-top: 10px;
      .name {
        max-width: 175px;
        font-weight: 700;
        cursor: pointer;
        color: var(--light-text-color);
      }

      .likes {
        i {
          cursor: pointer;
          transition: color 0.2s linear;

          &:hover {
            color: var(--like-hover-color);
          }
        }

        &.liked i {
          color: var(--like-hover-color);
        }
      }
    }
  }
}
