.single {
  .colors {
    display: flex;

    .color {
      width: 20%;
      height: 500px;

      .color-overlay {
        display: none;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        transition: all 0.2s linear;

        .color-overlay-hex {
          text-transform: uppercase;
          font-weight: 700;
          border: none;
          background: transparent;
          cursor: pointer;
          width: 100%;
          text-align: center;
          font-size: 1rem;
          color: white;
          padding: 0;

          &:focus {
            outline: none;
          }
        }
      }

      &:hover {
        .color-overlay {
          display: flex;
        }
      }
    }
  }

  .color-meta {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    .right {
      .name {
        font-weight: 700;
        font-size: 32px;
        padding-right: 10px;
      }
    }

    .left {
      .likes {
        font-size: 32px;

        i {
          padding-right: 10px;
          transition: color 0.2s linear;
          cursor: pointer;

          &:hover {
            color: var(--like-hover-color);
          }
        }

        &.liked i {
          color: var(--like-hover-color);
        }
      }
    }
  }
}
