RewriteEngine on
RewriteBase /colors/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !/api
RewriteCond %{REQUEST_URI} !/public
RewriteRule ^.*$ /colors/index.php [L,QSA]
