// TABLET START
@media screen and (max-width: 899px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
  }

  aside.sidebar {
    display: none;
  }

  .mobile-menu {
    display: flex !important;
  }

  .grid-container {
    grid-area: unset;

    .posts {
      .post {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

//TOO SMALL FOR FULL MENU, SWITCH TO HAMBURGER.
@media screen and (max-width: 640px) {
  .mobile-menu {
    .right {
      .menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--mobile-menu-background);
        justify-content: center;
        align-items: center;

        .close {
          display: inline-block !important;
        }

        .menu-list {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .menu-item {
            padding: 10px;
            a {
              font-size: 24px;
            }
          }
        }
      }

      .hamburger {
        display: inline-block !important;
      }
    }
  }

  .single .colors .color .color-overlay {
    display: flex;
    background: transparent;

    input {
      font-size: 14px !important;
    }

    p {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .single .colors .color .color-overlay {
    display: flex;
    background: transparent;

    input {
      font-size: 14px !important;
    }

    p {
      display: none;
    }
  }
}
