.new_palette {
  form {
    .colors {
      display: flex;
      .color {
        width: 20%;
        height: 500px;

        &:hover .color-overlay {
          display: flex;
        }

        .color-overlay {
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4);
          display: none;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 10px;

          label {
            text-align: center;
            color: white;
            padding-bottom: 7px;
          }

          input {
            border: none;
            background: none;
            cursor: text;
            width: 100%;
            text-align: center;
            color: white;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }

    .palette-meta {
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;

      .name-container {
        display: flex;
        align-items: center;

        label {
          padding-right: 10px;
          font-size: 21px;
          font-weight: 700;
        }

        .name {
          font-size: 24px;
          font-weight: 700;
          border: none;
          border: 1px solid var(--border-color);
          background-color: var(--background-color);
          color: var(--text-color);
          width: 180px;

          &::placeholder {
            color: var(--text-color);
          }

          &::-ms-input-placeholder {
            color: var(--text-color);
          }
        }
      }

      .submit {
        font-size: 17px;
        padding: 7px 30px;
        background: transparent;
        font-weight: 700;
        font-size: 21px;
        border: 1px solid var(--border-color);
        cursor: pointer;
        color: var(--text-color);
      }
    }
  }
}
