:root {
  --text-color: black;
  --border-color: black;
  --background-color: #fff;

  --like-hover-color: #e74c3c;

  --cookie-box-background: #333;
  --mobile-menu-background: #fff;
  --background-hover-color: #eee;
}

.dark-theme {
  --text-color: white;
  --border-color: white;
  --background-color: rgb(24, 24, 24);
  --cookie-box-background: #1a1a1a;
  --mobile-menu-background: #333;
  --background-hover-color: #1a1a1a;
}
